/* Reset básico para evitar inconsistências entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede barras de rolagem indesejadas */
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #333;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="file"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p.upload-feedback {
  text-align: center;
  font-size: 16px;
  color: green;
}

.mural-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  background-color: #f4f4f4;
}

.mural-content {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

iframe.mural-content {
  border: none;
  width: 100%;
  height: 100%;
}
